.sura-header {  
    li { 
        position: relative;
        list-style: none !important;
        &:hover {  
            ul { 
                display: block;
                transform: scaleX(1) scaleY(1) !important; 
                opacity: 1 !important;
            }
        }
        ul { 
            opacity: 0;
            transform: scaleX(0) scaleY(0); 
            transform-origin: left top;

            position: absolute;
            z-index: 5;
            top: 100%;
            left: 0;

            width: 290px;

            background: #d4d5ff;
            padding: 0;
            margin: 0;
            transition: all 0.3s ease-in-out;  
            &.second-list { 
                left: 292px;
            }
            li { 
                list-style: none; 
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                &:first-child { 
                    border-top: 0;
                }
                a { 
                    text-decoration: none;
                    display: block !important;
                    color: #222;
                    font-size: 16px;
                    padding: 12px 10px 12px 20px;
                    transition: all 0.3s ease-in-out;   
                    &.active {
                        background: #95aaff;
                    }
                    &:hover { 
                        text-decoration: none;
                        background: #e9fbff;
                        color: #fff;
                    }
                }
            }
        }
    }
    &-link { 
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 88px;
        padding: 0 11px;
        font-size: 14px;
        color: #222;
        text-decoration: none;
        transition: all 0.3s ease-in-out;    
        &:hover { 
            background: #241f09;
            text-decoration: none;
            color: #fff;
            ul {
                transform: scaleX(1) scaleY(1); 
                opacity: 1;
            }
           
        } 
        &.active { 
            background: #fff3b7;
            &:hover {
                color: #222;
            }
        }
        
    }
}

.inner-link { 
    display: block;
    text-align: left;
}